---
layout: default
heading: Nature's canvas unveiled. A gallery of wilderness through the lens of adventure. 
image: /images/Greg-Photo-49.JPG
seo:
    title: Greg English Photography | Gallery
    description:
    keywords:
    social_image: /images/greg-205.jpg
    hide-from-google: false
---

{% include hero-banner.html %}


<section class="grid grid-cols-3 px-10p justify-center">
    
    <div class="bg-white p-5">
        <img src="https://picsum.photos/id/684/600/400" alt="" class="aspect-square">
        <h3 class="pt-5 font-sans">Sports</h3>
    </div>

    <div class="bg-white p-5">
        <img src="https://picsum.photos/id/684/600/400" alt="" class="aspect-square">
        <h3 class="pt-5 font-sans">Sports</h3>
    </div>

    <div class="bg-white p-5">
        <img src="https://picsum.photos/id/684/600/400" alt="" class="aspect-square">
        <h3 class="pt-5">Sports</h3>
    </div>

    <div class="bg-white p-5">
        <img src="https://picsum.photos/id/684/600/400" alt="" class="aspect-square">
        <h3 class="pt-5">Sports</h3>
    </div>

    <div class="bg-white p-5">
        <img src="https://picsum.photos/id/684/600/400" alt="" class="aspect-square">
        <h3 class="pt-5">Sports</h3>
    </div>

    <div class="bg-white p-5">
        <img src="https://picsum.photos/id/684/600/400" alt="" class="aspect-square">
        <h3 class="pt-5">Sports</h3>
    </div>

</section>

<!-- mountains -->
<!-- 
<section class="mb-5p">
    <h2 class="uppercase text-3xl md:text-5xl  text-right px-10p mb-5p">The Mountains</h2>

    <div class="flex flex-nowrap gap-5 mx-auto overflow-x-scroll px-0 mb-5p">
        {% for item in page.mountain-photos %}
	
		    {% include photo-loop-item-free.html %}
	
	    {% endfor %}
    </div>


</section> -->


<!-- NYC -->
<!-- <section class="mb-5p px-10p">
    <h2 class="uppercase text-3xl md:text-5xl mb-5p">New York City</h2>

    <img src="/images/greg-photo-93.jpg" class="max-h-[60vh] w-full object-cover object-bottom aspect-landscape mb-5p">
    
    <div class="lg:grid lg:grid-cols-2 gap-[5rem] justify-between">
        <img src="/images/greg-photo-27.jpg" class="object-cover max-h-[75vh] mb-5p lg:mb-0 object-center aspect-square">

        <img src="/images/greg-photo-155.jpg" class="object-cover max-h-[75vh] object-top aspect-square">
    </div>
    </section>
</section> -->


<!-- doggos -->
<!-- <section class="mb-5p">
    <h2 class="uppercase text-3xl md:text-5xl  text-right px-10p mb-5p">Best boys and girls</h2>

    <div class="flex flex-nowrap gap-5 mx-auto overflow-x-scroll px-0 mb-5p">
        {% for item in page.dog-photos %}
	
		    {% include photo-loop-item-free.html %}
	
	    {% endfor %}
    </div>


</section> -->

