
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

h1, h2, h3, h4, h5 {
  line-height: 1;
  font-weight: 800;
}

a i{
  color: white;
}

input, textarea{
  margin-bottom: 1rem;
  color: black;
  padding-left: 2px;
}

p{
  margin-top: 1.25rem;
}

.portrait{
  aspect-ratio: .66;
}
.landscape{
  aspect-ratio: 1.25;
}

img{
  max-width: 100%;
}


@layer utilities{
  .rotate-text-180{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    @apply rotate-180;
  }
}


/* hamburger menu styles */

.burger-button {
  position:fixed;
  top: 4vh;
  right: 2vh;
  z-index: 90;
  padding: 8px;
}
/*this is where you can change the color of the buttons*/
.burger-button span{
  width: 30px;
  border: 1px solid white;
  background-color: rgb(32 32 32);
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  @apply bg-dark-grey border-dark-grey;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
  transform: rotateZ(270deg);
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
    @apply bg-white;
    display: flex;
    position: fixed;
    top: 0vh;
    left:100vw;
    right: -100vw;
    bottom: 0vh;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 80;
    transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
}
.burger-menu.active{
  left:50vw;
  right:0;
}
.burger-menu a {
  @apply text-dark-grey;
  text-decoration: none;
  font-size: 20px;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

/* light mode/dark mode */

.toggle-container{
  background-color: lightblue;
  height: 1rem;
  padding: 0.1rem;
  width: 2rem;
  display: inline-block;
  border-radius: 1.5rem;
  text-align: left;
}

.toggle-ball{
  background-color: white;
  height: .8rem;
  width: .8rem;
  border-radius: 1rem;
  display: inline-block;
}

.toggle-container.light-mode-active{
  background-color: #ade6d8;
  text-align: right;
}
/* light mode styles */
/* body.light-mode-active{
  @apply bg-white text-dark-grey;
} */

.burger-button span{
  border: 1px solid rgb(32 32 32);
  background-color: white;
}
.light-mode-active .burger-button span{
  border: 1px solid white;
  background-color: rgb(32 32 32);
}
/* 
.light-mode-active .border-b-2{
  border-bottom: 2px solid rgb(32 32 32);
}

.light-mode-active .border-b a{
  border-bottom: transparent;
}
.light-mode-active .border-b-white a:hover{
  border-bottom: 1px solid rgb(32 32 32);
}

.light-mode-active .fa-brands, .light-mode-active .fa-regular{
  @apply text-dark-grey;
} */

/* to do: still want to change the text from "light mode" to "dark mode" when active AND save user settings across each page */