
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

h1, h2, h3, h4, h5 {
  line-height: 1;
  font-weight: 800;
}


input, textarea{
  margin-bottom: 1rem;
  color: black;
  padding-left: 2px;
}

p{
  margin-top: 1.25rem;
}

.portrait{
  aspect-ratio: .66;
}
.landscape{
  aspect-ratio: 1.25;
}

img{
  max-width: 100%;
}

/* dark mode toggle */
.dark-mode{
  text-align: right;
}
.dark-mode p{
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.toggle-container{
  background-color: lightblue;
  height: 2rem;
  padding: 0.2rem;
  width: 4rem;
  display: inline-block;
  border-radius: 3rem;
  text-align: left;
}

.toggle-ball{
  background-color: white;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 2rem;
  display: inline-block;

}

.toggle-container.dark-mode-active{
  background-color: #ade6d8;
  text-align: right;
}
/* dark mode styles */
body.dark-mode-active{
  background-color: rgb(60,60,60);
  color: white;
}

.dark-mode-active .button{
  color: #ade6d8;
  border-color: #ade6d8;
}

@layer utilities{
  .rotate-text-180{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    @apply rotate-180;
  }
}